.clearfix {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.seperator {
  height: 20px;
  background-color: #c3c6c6;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
}
