html {
  font-family: arial;
  font-size: 12px;
  color: #474747;
}

.menu-item {
  a, a:visited, a:active, a:hover {
    color: white;
    font-size: 14px;
    line-height: 50px;
  }
}

.current-menu-item {
  a, a:visited, a:active, a:hover {
    color: #186cc6;
  }
}

a, a:visited, a:active, a:hover, .read-more {
  text-decoration: none;
  color: #186cc6;
}
