#footerwrap {
  #footer {
    background-color: #1b1b1b;
    color: #555;
    text-align: center;

    p {
      padding: 21px 0;
      font-size: 11px;
      font-weight: 700;
      line-height: 13px;
    }
  }
}
