#headerwrap {
  .header-top {
    height: 39.5px;
    background-image: linear-gradient(180deg, #f5f6f5 0%, #f4f5f5 100%);
    box-shadow: 0 1px 0 #b6b6b6;
    position: relative;
    z-index: 1;

    a {
      text-decoration: none;
      font-size: 12.5px;
      color: black;
      position: absolute;
      left: 50%;
      bottom: 4px;
      transform: translateX(-50%);
    }
  }

  #header {
    position:relative;
    background-image: linear-gradient(180deg, #f8f8f8 0%, #b8b9ba 100%);
    box-shadow: inset 0 -2px 0 #8c8a92;
    padding: 10px;

    .logo {
      width: 90px;
      margin-left: 10px;
    }

    .burg {
      width: 18px;
      height: 14.5px;
      position: relative;
      top: 6px;
      right: 10px;
      float: right;
    }

    .back-arrow {
      width: 10.5px;
      margin-right: 17px;
      position: relative;
      top: -3px;
    }

    .header-inner {
      transition: .5s all ease-out;
    }
  }
}
