.kategorien-wrapper {
  background: white;
  border-radius: 5px;
  padding: 13px 10px 11px 10px;
  margin-top: 12.5px;
  cursor: pointer;
  .right-arrow {
    margin-top: -16px;
  }

  .ex {
    transform: rotate(45deg);
    width: 18px;
    margin-top: -16px;
    margin-right: 2px;
    display: none;
  }
}

.kategorien-dropdown {
  background: white;
  padding: 0 20px 20px;
  display: none;
  a, a:active, a:visited, a:hover {
    color: #474747;
  }
}

.kategorien-open-header {
  margin-top: -40px;
}

#search {
  border-bottom: 2px solid #adadad;
  padding: 12.5px 0;
  input[type='text'] {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 230px;
    padding-left: 2px;
    border: none;
  }
  input[type='image'] {
    width: 15.5px;
    vertical-align: middle;
    margin-right: 7.5px;
    margin-top: -4px;
  }
}
