#label {
  // height: 150px;
  background-image: linear-gradient(180deg, #f8f8f8 0%, #b8b9ba 100%);
  box-shadow: inset 0 -2px 0 #8c8a92;
  .label-inner {
    padding: 33px;
  }
  img {
    width: 31.5px;
    height: 31.5px;
    margin-right: 25px;
  }
  img, .label-text {
    float: left;
  }

  .label-text {
    color: #8a8a8a;
    font-size: 15px;
    font-weight: 700;
    line-height: 16.5px;
    span, a, a:visited, a:hover, a:active {
      color: #474747;
    }
  }

  .label-box:first-child {
    margin-bottom: 23.5px;
  }
}
