.mobile-menu {
  position: absolute;
  background-color: #1b1b1b;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
}

#menu-main-menu {
  padding: 0 20px;
  font-weight: 700;
}

.menu-item {
  border-bottom: 1px solid #adadad;
}
