.entry-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.5px;
  margin-bottom: 14px;
  margin-top: 8px;
}

.entry-content {
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
}

.entry-content-home {
  height: 174px;
  overflow-y: hidden;

}

.entry-content-open {
  height: auto;
}

.read-more {
  font-size: 12px;
  font-weight: 700;
  line-height: 23px;
  padding: 10px 0;
}

article {
  padding: 20.5px 20.5px 0;
}
