.products {
  padding: 20px;

  .product-box {
    width: 50%;
    float: left;
    height: 212.5px;
    border-bottom: 1px solid #adadad;
    margin-top: 19.5px;
  }

  .product-box:nth-last-child(3), .product-box:nth-last-child(2) {
    border-bottom: none;
  }

  .product-title {
    color: #373737;
    max-width: 90%;
  }

  .price {
    color: #0d6bc0;
  }

  .price, .product-title {
    font-weight: 700;
    line-height: 13.5px;
  }

  .mehr-button {
    margin-top: 15.75px;
    width: 52px;
    display: block;
  }

  .product-button, .product-title {
    padding: 3.25px 0;
  }

  .product-image-wrapper {
    text-align: center;
      img {
        width: auto;
        height: 90px;
        max-width: 90%;
        margin-bottom: 20px;
        display: block;
      }
  }
}
