#sidebar-body {
  color: white;
  background-color: #0392dd;

  #sidebar-body-title {
    font-family: arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.5px;
    border-bottom: 1px solid #00baff;
    padding: 14.5px 20px;
  }

  #sidebar-body-content {
    padding: 25px 20px;
    a, a:visited, a:active, a:hover {
      color: white;
    }
  }

  .sidebar-body-content-box {
    margin-bottom: 26px;
  }

  .sidebar-body-content-image-wrap, .sidebar-body-content-text-wrap {
    float: left;
  }

  .sidebar-body-content-image-wrap {
    img {
      height: auto;
      width: 66px;
    }
  }

  .sidebar-body-content-text-wrap {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 700;
    line-height: 1.1;
    span {
      font-weight: 400;
      margin-top:2px;
    }
  }

  .sidebar-label-text {
    margin-top: 4px;
  }
}
