.single-product-page-mobilepress {
  #galery {
    text-align: center;
  }

  #galery-full {
    padding: 20px;
  }

  #galery-tumb {
    background-color: rgba(155, 155, 155, 0.2);
    padding: 10px 17px;
    text-align: left;
    a {

    }

    img {
      height: 40px;
      width: auto;
      border: 3px solid rgba(0,0,0,0);
      box-sizing: content-box;
      margin: 0 3.25px;
      cursor: pointer;
    }

    .img-selected {
      border: 3px solid #186cc6;
    }
  }
}

#single-product-header {
  h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
  }
}

#single-product-price {
  color: #186cc6;
  font-size: 15px;
  font-weight: 700;
}

#single-product-price-sub, #single-product-price {
  line-height: 23px;
}

.single-product-info-wrapper {
  padding: 26.5px 20px;
}

.single-product-price-info-wrapper {
  float: left;
}

.single-product-price-wrapper {
  position: relative;
  width: 100%;
}

#single-product-price-pdf {
  float: right;

  img {
    width: 44px;
    float: right;
    position: absolute;
    bottom: 13.5px;
    right: 0;
  }
}

.single-product-content {
  display: none;
}

.right-arrow {
  transform: rotate(180deg);
  width: 12px;
  vertical-align: middle;
  float: right;
  margin-right: 5px;
  transition: .5s all ease-out;
}

.spin-arrow-down {
  transform: rotate(-90deg);
}

.single-product-info-sections {
  padding-top: 33.5px;
  cursor: pointer;
  hr {
    color: #adadad;
  }
}

.info-selector {
  p {
    padding: 24.5px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
  }
}
