#slider {
  height: 205.5px;
  .nivo-caption {
    height: 60px;
    opacity: 0.7;
    background-color: white;
    margin-left: 20px;

    p {
      color: #107dd5;
      font-size: 12px;
      font-weight: 700;
      line-height: 13.5px;
      padding: 2.5px 0 0 0;
    }
  }

  .slider-caption-title {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
  }
}
